<header class="pt-[1rem]  pb-[1rem] border-b border-gray bg-gray-light px-[1rem]">
  <nav>
    <ul class="flex gap-[1rem] ">
      @for (item of menuItems(); track $index){
        <li>
          <a class="hover:text-primary-dark cursor-pointer"
             [routerLink]="[item.url]"
             routerLinkActive="text-primary"
             [routerLinkActiveOptions]="{exact: item.url === '/'}"
          >{{item.title}}</a>
        </li>
      }

      <li class="ml-auto">
        <a class="hover:text-primary-dark cursor-pointer"
           routerLink="/auth/login"
           routerLinkActive="text-primary"
        >Login</a>
      </li>
    </ul>
  </nav>
</header>
